::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track-piece
{
	background-color: #CCCCCC;
	-webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:vertical
{
	height: 45px;
	background-color: #999999;
	-webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:horizontal
{
	width: 5px;
	background-color: #CCCCCC;
	-webkit-border-radius: 0px;
}